/* header */

.container {
    background-color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

/* .space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

/* side-bar */

.sidebar {
    margin-right: 24px;
    text-align: center;
    border-right: 1px solid black;
}

.logo {
    align-items: center;
    margin-left: 0.5rem;
}

/* content */

.align-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 250px; 
}