/* side-bar */

.sidebar {
    height: 100vh; /* occupies the full height of the browser */
    margin-right: 24px;
    text-align: center;
    border-right: 1px solid black;
  }

/* header */

.container {
    background-color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.logo {
    align-items: center;
    margin-left: 0.5rem;
}