/* side-bar */

.sidebar {
    height: 100vh; /* occupies the full height of the browser */
    margin-right: 24px;
    text-align: center;
  }

/* .content {
    padding: 1rem;
  } */

/* header */

.container {
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .drawer {
    align-items: center;
} */
  
/* @media (min-width: 992px) {
    .menu {
        display: none;
    }
} */

.logo {
    align-items: center;
    margin-left: 0.5rem;
}